<div class="jumbotron">
  <h1><strong>Welcome,</strong> <em>Admin</em></h1>
  <br>
  <a class="btn btn-danger" <%= link_to "Logout", logout_path, method: :delete %>
  <a class="btn btn-primary" <%= link_to "Create Category", new_category_path %></a>
  <br><br>
  <br>
  <div class="container">
      <div class="table responsive">
        <table class="table">
          <tr class="warning">
            <th>Name</th>
            <th>Change</th>
            <th>Terminate</th>
          </tr>
         <% @categories.each do |category| %>
           <tr class="success">
             <td> <%= link_to category.name, category_path(category) %> </td>
             <td> <%= link_to "Edit", edit_category_path(category) %> </td>
             <td> <%= link_to "Destroy", category_path(category), method: :delete %> </td>
           </tr>
         <% end %>
       </table>
     </div>
   </div>
 </div>
